.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 24px;
  /* margin-bottom: 16px; */
  border-bottom: 1px solid black;
    /* outline: 2px solid green; */
    /* padding: 24px; */
    /* position: sticky; */
    top: 0;
}

.nav {
  display: flex;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: white;
  background-color: rgb(255, 144, 60);
}
