

.list {
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.listItem {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.listImg {
  display: flex;
  width: 300px;
   /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
}

.listText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  font-size: 14px;
  /* height: 100px; */
  background-color: #1a1a1a;
}

.listText:hover {
  /* background-color: #646cff; */
}
/* 
.rating {
  font-size: 14px;
} */

.title {
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
  overflow: hidden; /* Hide the overflowed text */
  text-overflow: ellipsis; /* Display ellipsis (...) at the end of the truncated text */
  display: inline-block; /* Required for text-overflow to work */
  max-width: 100%; /* Set the max-width as per your requirement */
}