.list {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 100%;
  /* max-width: 1440px; */
  /* padding: 0 15px; */
      padding-top: 24px;
    padding-left: 24px;
  margin: 0 auto;

}

.container {
  padding: 8px;
  
}

.text {
  /* text-align: center; */
  /* outline: 2px solid red; */
  margin-bottom: 8px;
  padding-left: 18px;
}